.list-all {
  display: flex;
  flex-direction: column;
}

.list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  height: 100%;
  padding: 0;
  justify-content: center;
}

.list-item {
  display: block;
  position: relative;
  background: #ffff;
  color: #182026;
  border-radius: 3px 3px 3px 3px;
  text-align: left;
  font-size: 13px;
  margin: 15px;
  width: 320px;
  height: 270px;
  overflow: hidden;
  border: solid gainsboro 1px;
  box-shadow: 11px 11px 58px -8px rgba(156, 156, 156, 0.68);
}

.list-item-photo {
  height: auto;
  width: 100%;
  max-height: 160px;
  cursor: pointer;
}

.summary_field {
  padding-top: 15px;
  width: 200px;
  height: 107px;
  font-family: "Apple Color Emoji", sans-serif;
  overflow: auto;
  font-weight: bold;
  padding-left: 7px;
  color: #3e3e3e;
}

.normal {
  color: #7a7a7a !important;
}

.active {
  color: #ff7043 !important;
}

.all-button {
  position: absolute !important;
  width: 45px; /*328 co je 1/3 - 20margin left*/
  height: 45px;
  border-radius: 50%;
  bottom: 75px;
  border: transparent;
  opacity: 0.7;
  font-size: 34px;
}

.all-button:focus {
  outline: none;
}

button:hover {
  opacity: 1;
}
.search_keyword {
  width: 200px;
  border: none;
  border-radius: 3px 0 0 3px;
}

.filter-fields {
  margin-left: auto;
  margin-right: 5%;
  float: right;
  padding-top: 30px;
  cursor: pointer;
}

.filter-common {
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 -1px 0 rgba(16, 22, 26, 0.1);
  background: #f5f8fa
    linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  color: #182026;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
  min-width: 30px;
  min-height: 30px;
  padding: 5px 10px;
}

.selects {
  margin-left: 15px;
}

.search_button {
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 -1px 0 rgba(16, 22, 26, 0.1);
  background: #f5f8fa
    linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  color: #182026;
  border: none transparent;
  border-radius: 0 3px 3px 0;
}

.select_search {
  border: none transparent;
  border-radius: 3px;
}

.scrollbarStyle::-webkit-scrollbar {
  width: 30px;
  right: 0;
  top: 0;
  overflow-x: scroll;
}

/*flechas*/
.scrollbarStyle::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(/UtilsImages/up.png);
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.scrollbarStyle::-webkit-scrollbar-button:vertical:increment {
  background-image: url(/UtilsImages/down.png);
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.scrollbarStyle::-webkit-scrollbar-track {
  border-left: 1px solid black;
}

.scrollbarStyle::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 10px;
  border: 1px solid black;
  border-right: 0px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}
