.add-edit-recipe {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.recipe-form {
  display: flex;
  width: 800px;
  flex-direction: column;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
}

.save-recipe {
  background-color: #46b8da !important;
}

.bp3-button {
  width: 80px;
}

div.submit-button .bp3-button {
  width: 160px !important;
  height: 40px !important;
  font-weight: bold !important;
}

.bp3-tab.recipe-tab,
.bp3-tab.recipe-tab-error {
  border: 1px solid black;
  border-radius: 8px 8px 0 0 !important;
  margin: 0px !important;
  padding-left: 30px;
  padding-right: 30px;
}

.bp3-tab.recipe-tab svg {
  visibility: hidden;
}

.bp3-tab.recipe-tab-error svg {
  color: #d22d27;
}
#NutritionInfo {
  padding: 0px;
}

.bp3-tab-panel.recipe-tab {
  border: 1px solid black;
  margin: 0px;
  padding: 10px;
  height: 730px;
  overflow-y: auto;
}
.bp3-tab-panel.nutrition-tab {
  padding: 0px;
}

.submit-button {
  padding-top: 30px;
}

.bp3-tab {
  font-weight: bold;
}

.bp3-tab-indicator-wrapper ~ .bp3-tab[aria-selected="true"] {
  background-color: #46b8da !important;
  color: black;
}

.confirmation-text {
  color: #46b8da;
  font-weight: bold;
  font-size: 30px;
}

.recipe-delete-modal-content {
  margin: 30px;
  background-color: inherit !important;
}

.recipe-delete-modal-content > * {
  margin: 10px;
}

.recipe-delete-modal-content .submit-button button {
  width: 47% !important;
}

.recipe-delete-modal-content .submit-button {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
div .scrollbarStyle div::-webkit-scrollbar {
  width: 30px;
  right: 0;
  top: 0;
  overflow-x: scroll;
}

/*flechas*/
div .scrollbarStyle div::-webkit-scrollbar-button:vertical:decrement {
  background-image: url(/UtilsImages/up.png);
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

div .scrollbarStyle div::-webkit-scrollbar-button:vertical:increment {
  background-image: url(/UtilsImages/down.png);
  border-left: 1px solid black;
  border-top: 1px solid black;
}

div .scrollbarStyle div::-webkit-scrollbar-track {
  border-left: 1px solid black;
}

div .scrollbarStyle div::-webkit-scrollbar-thumb {
  background: #d6d6d6;
  border-radius: 10px;
  border: 1px solid black;
  border-right: 0px;
}

div .scrollbarStyle div::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}