.register-color {
  width: 360px !important;
  height: 60px !important;
  background-color: #46b8da !important;
  color: white !important;
  font-size: 25px !important;
  font-weight: bold !important;
}

.cancel-color {
  width: 360px !important;
  height: 60px !important;
  background-color: gray !important;
  color: white !important;
  font-size: 25px !important;
  font-weight: bold !important;
}

.spacing-button {
  margin-top: 100px;
}

.dimension {
  width: 360px !important;
  height: 50px !important;
}

.centerDa {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.valid {
  border: 3px solid white;
}

.invalid {
  border: 3px solid #d22d27;
}
.myFont {
  font-size: 35px;
  position: relative;
}

.small {
}

.error-register {
  color: #d22d27;
  font-weight: bold;
  float: left;
}

.spaceRows {
  margin-bottom: -60px !important;
}
