.view-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.column {
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 30px;
  }
  .column {
    flex: 1;
  }
  ._25 {
    flex: 2.5;
  }
  ._5 {
    flex: 5;
  }
}

.column {
  padding: 30px;
  margin: 10px 15px;
}

.border-section {
  border: 1px solid #46b8da;
  border-radius: 3px;
}

.heading {
  display: inline;
  text-decoration: underline;
  text-decoration-color: #46b8da;
  font-size: 40px;
}

.heading-column {
  border: 0px;
  padding-right: 30px;
}

.icon {
  margin: 10px;
  float: right;
  cursor: pointer;
  color: #666;
}

.icon :hover {
  color: #cdd0d6;
}

.left-align {
  text-align: left;
}

.recipe-expand-button {
  float: left;
  cursor: pointer;
}

.bookmark-icon {
  float: right;
  margin-top: -33px;
}

.section-content {
  margin-top: 30px;
}

.nutrition-table {
  margin: auto;
  border: 1px solid #cdd0d6;
  table-layout: fixed;
  width: 100%;
  border-radius: 3px;
}

.nutrition-table td {
  border: 1px solid #cdd0d6;
  color: #666;
  padding: 10px;
}

.nutrition-table thead {
  background-color: #d6ecf9;
  font-weight: bold;
}

.note-card {
  background-color: #ddf1ff;
  border: 1px solid rgb(221, 221, 221);
  padding: 15px;
  margin: 15px;
  border-radius: 3px;
}

.overlay-content {
  position: absolute;
  left: 15%;
  width: 70%;
  height: 70%;
  bottom: 15%;
  margin: 50px;
  padding: 50px;
  float: bottom;
  background-color: white;
  margin: auto;
}

.minimize-button {
  cursor: pointer;
  float: left;
  margin: auto;
}

.backdrop {
  background-color: white;
}

.big-ingredients label {
  font-size: large;
}

.big-ingredients h2,
.big-steps h2 {
  font-size: xx-large;
}

.big-steps p {
  font-size: large;
}

.recipe-details span {
  font-weight: bold;
}

.recipe-details hr {
  border-color: #46b8da;
  border-width: 3px;
}

.details-summary {
  margin: 30px 0;
}

.time-details {
  display: inline;
}

.recipe-details .column {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.small-image {
  margin: 10px;
  padding: 0;
  max-width: 50%;
  display: inline;
}

.media-container img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.big-image {
  padding: 0;
  margin: 10px 5px;
}

.servings {
  margin-top: 20px;
}

.bookmark-icon-up {
  float: right;
  margin-top: -62px;
}

.image {
  cursor: pointer;
}

.video-react {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.video-react-video {
  width: 100%;
  height: 100%;
  margin-top: -1000px;
}

.dv-star-rating .heart {
  cursor: default;
}

.column .tag {
  background-color: #46b8da;
  border-radius: 5px;
  color: white;
  margin: -10px;
  padding: 5px 20px;
  font-weight: bold;
}


.active {
  color: #ff7043;
}